{% extends 'base.html' %}
{% load static %}
{% block content %}
<!--Navbar-->

    <nav class="navbar navbar-expand-lg navbar-dark">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <div class="container ">
                <ul class="navbar-nav mr-auto d-flex justify-content-around">
					{% for c in categories %}
					<li
					{% if category.slug == c.slug %}
					class="selected nav-item"
					{% else %}
					class="nav-item"
					{% endif %}>
						<a class="nav-link" href="{{ c.get_absolute_url }}">{{ c.name }}</a>
					</li>
					{% endfor %}
                </ul>
            </div>
        </div>
    </nav>


<!--Navbar-->

<!--Product card-->
<div class="container">
    <div class="row">
				<div class="col-xl-12 col-md-12 col-sm-12">
			    	<main class="card">
						<div class="row no-gutters">
							<aside class="col-lg-6 border-right">
								<article class="gallery-wrap">
									<div class="img-big-wrap">
										<div> <a href="	{{ product.image.url }}" data-fancybox=""><img
													src="	{{ product.image.url }}"></a></div>
									</div> <!-- slider-product.// -->
								</article> <!-- gallery-wrap .end// -->
							</aside>
							<aside class="col-lg-6">
								<article class="card-body">
									<!-- short-info-wrap -->
									<h3 class="title mb-3">{{ product.name }}</h3>

									<div class="mb-3">
										<var class="price h3 text-warning">
											<span class="currency">US $</span><span class="num">{{ product.price }}</span>
										</var>
									</div> <!-- price-detail-wrap .// -->
									<dl>
										<dt>Description</dt>
										<dd>
										    {{ product.description }}
										</dd>
									</dl>
									<dl class="row">
										<dt class="col-sm-3">Model#</dt>
										<dd class="col-sm-9">12345611</dd>

										<dt class="col-sm-3">Color</dt>
										<dd class="col-sm-9">Black and white </dd>

										<dt class="col-sm-3">Delivery</dt>
										<dd class="col-sm-9">Russia, USA, and Europe </dd>
									</dl>
								
									<hr>
									<form action="{% url 'cart:cart_add' product.id %}" method="post">
										{{ cart_product_form }}
										{% csrf_token %}
										<input type="submit" value="Add to cart">
									</form>
								</article> <!-- card-body.// -->
							</aside> <!-- col.// -->
						</div> <!-- row.// -->
					</main> <!-- card.// -->

					<!-- PRODUCT DETAIL -->
					<article class="card mt-3">
						<div class="card-body">
							<h4>Detail overview</h4>
							 {{ product.description }}
						</div> <!-- card-body.// -->
					</article> <!-- card.// -->

					<!-- PRODUCT DETAIL .// -->
				</div> <!-- col // -->
			
			</div> <!-- row.// -->
</div>


{% endblock %}