{% extends 'base.html' %}
{% load static %}
{% block content %}
<!--Navbar-->

    <nav class="navbar navbar-expand-lg navbar-dark">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <div class="container ">
                <ul class="navbar-nav mr-auto d-flex justify-content-around">
					{% for c in categories %}
					<li
					{% if category.slug == c.slug %}
					class="selected nav-item"
					{% else %}
					class="nav-item"
					{% endif %}>
						<a class="nav-link" href="{{ c.get_absolute_url }}">{{ c.name }}</a>
					</li>
					{% endfor %}
                </ul>
            </div>
        </div>
    </nav>


<!--Navbar-->

<!--Hero Picture and search input-->

<section class="section-intro text-white text-center">
<div class="container d-flex flex-column"  style="min-height:80vh;">
    <div class="row section-header">
        <div class="col-lg-8 col-sm-12 text-center mx-auto">
            <h1 class="display-4 mb-3">Big Sale up to 70%</h1>
        </div>
    </div>
    <div class="row ">
        <div class="col-lg-9 col-md-8 col-sm-12 mx-auto text-center">
            <form class="form-noborder" action="{% url 'search:search' %}" method="get">
                <div class="form-row mb-5">
                    <div class="col-lg-8 col-sm-12 form-group">
                        <input class="form-control form-control-lg" placeholder="Search keyword"  name="q" type="text">
                    </div>
                    
                    <div class="col-lg-4 col-sm-12 form-group">
                        <button class="btn btn-warning btn-block btn-lg" type="search">Search</button>
                    </div>
                </div>
            </form>
            <ul class="list-inline my-5">
                <li class="list-inline-item">
                    <a class="h4 text-light p-2" href="#">
                        <i class="fab fa-twitter"></i>
                    </a>
                </li>
                <li class="list-inline-item">
                    <a class="h4 text-light p-2" href="#">
                        <i class="fab fa-facebook"></i>
                    </a>
                </li>
                <li class="list-inline-item">
                    <a class="h4 text-light p-2" href="#">
                        <i class="fab fa-dribbble"></i>
                    </a>
                </li>
                <li class="list-inline-item">
                    <a class="h4 text-light p-2" href="#">
                        <i class="fab fa-instagram"></i>
                    </a>
                </li>
            </ul>
        </div> <!-- col.// -->
    </div> <!-- row.// -->
</div>
</section><!--Hero Picture and search input-->


<div class="container">
    <!--Category-->
    <h1 class="text-center">{% if category %}{{ category.name }}{% else %}Products
{% endif %}</h1>

<div class="row">
    
{% for product in products %}
    <div class="col-md-3 col-sm-6">
    	<figure class="card card-product">
    		<div class="img-wrap"> 
    		<img src="
    		{% if product.image %}
    	    	{{ product.image.url }}
    		{% else %}
                {% static "img/no_image.png" %}
            {% endif %}">
    		</div>
    		<figcaption class="info-wrap">
    			<a href="{{ product.get_absolute_url }}" class="title">{{ product.name }}</a>
    			<div class="price-wrap">
    				<span class="price-new">{{ product.price }}</span>
    			</div> <!-- price-wrap.// -->
    		</figcaption>
    	</figure> <!-- card // -->
    </div> <!-- col // -->
{% endfor %}
</div>
</div>



{% endblock %}