<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="{% static 'libraries/bootstrap/css/bootstrap.css %}" type="text/css" />
    <link rel="stylesheet" href="{% static 'libraries/ecommerce/css/responsive.css %}" type="text/css" />
    <link rel="stylesheet" href="{% static 'libraries/ecommerce/css/ui.css %}" type="text/css" />
    <link rel="stylesheet" href="{% static 'css/style.css %}" type="text/css" />
    <title>Digi Shop</title>
</head>
<body>
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    <!--SCRIPTS-->
    <script type="text/javascript" src="{% static 'libraries/bootstrap/js/bootstrap.bundle.min.js %}"></script>
    <script type="text/javascript" src="{% static 'libraries/jquery/js/jquery-2.0.0.min.js %}"></script>
    
</body>
</html>